html {
    box-sizing: border-box;
    background-image: url("pic/jungle.jpg");
}

body {
    /*background-color: #2f6a20;*/
    padding: 3%;
    /*background-image: url("pic/jungle.jpg");*/
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

table.spielstand {
    border: 0.25em solid #000000;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}
th, td.spielstand{
    border: 1px solid black;
}

table.spielfeld {
    border: 0.5em;
    border-spacing: 1em;
    margin-right: auto;
    margin-left: auto;

}

button {
    width: 15em;
    height: 15em;
    border: black solid 10px;
    border-radius: 10px;
}

button:hover {
    border: #373737 solid;
}

.ersteKarte {
    background-image: url("pic/Foot 1 v 1.jpg");
    background-size: 100% 100%;
}

.zweiteKarte {
    background-image: url("pic/Foot 2 v 1.jpg");
    background-size: 100% 100%;
}

.dritteKarte {
    background-image: url("pic/Foot 3 v 1.jpg");
    background-size: 100% 100%;
}

.vierteKarte {
    background-image: url("pic/Foot 4 v 1.jpg");
    background-size: 100% 100%;
}

.fuenfteKarte {
    background-image: url("pic/Foot 5 v 1.jpg");
    background-size: 100% 100%;
}

.sechsteKarte {
    background-image: url("pic/Foot 6 v 1.jpg");
    background-size: 100% 100%;
}

.siebteKarte {
    background-image: url("pic/Foot 7 v 1.jpg");
    background-size: 100% 100%;
}

.achteKarte {
    background-image: url("pic/Foot 8 v 1.jpg");
    background-size: 100% 100%;
}

/*
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 200px 200px;
    gap: 10px;
}

.grid-container div {
    background-color: aqua;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-container button {
    background-color: #00909a;
    border: 3px solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-container button:hover {
    background-color: #f9ff00;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-content: center;
}