html {
    box-sizing: border-box;
    background-image: url("pic/jungle.jpg");
}

body {
    padding: 3%;
    background-size: 100%;
    background-repeat: no-repeat;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

table.spielstand {
    border: 0.25em solid #f9fd01;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    background-color: #f20600;
    font-family: Jurassic Park;
    src: url("doc/jurassic-park-font/JurassicPark-BL48.ttf");
}

th {
    padding: 1em;
}

th, td.spielstand {
    border: 1px solid #f9fd00;
}

table.spielfeld {
    /*width: 100%;*/
    column-width: max-content;
    border: 0.5em;
    border-spacing: 1em;
    margin-right: auto;
    margin-left: auto;
}

button {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: black solid 0.5em;
    border-radius: 1em;
}

button:hover {
    border: #f9fd00 solid 0.5em;
}

.karte {
    width: 15em;
    height: 15em;
    border: black solid 1em;
    border-radius: 1em;
    background-size: 100% 100%;
}

.verdeckt {
    background-image: url("pic/background.jpg");
}

button:hover.karte {
    border: #000000 solid;
}

.ersteKarte.offen {
    background-image: url("pic/Foot 1 v 1.jpg");
}

.zweiteKarte.offen {
    background-image: url("pic/Foot 2 v 1.jpg");
    background-size: 100% 100%;
}

.dritteKarte.offen {
    background-image: url("pic/Foot 3 v 1.jpg");
    background-size: 100% 100%;
}

.vierteKarte.offen {
    background-image: url("pic/Foot 4 v 1.jpg");
    background-size: 100% 100%;
}

.fuenfteKarte.offen {
    background-image: url("pic/Foot 5 v 1.jpg");
    background-size: 100% 100%;
}

.sechsteKarte.offen {
    background-image: url("pic/Foot 6 v 1.jpg");
    background-size: 100% 100%;
}

.siebteKarte.offen {
    background-image: url("pic/Foot 7 v 1.jpg");
    background-size: 100% 100%;
}

.achteKarte.offen {
    background-image: url("pic/Foot 8 v 1.jpg");
    background-size: 100% 100%;
}

/*
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 200px 200px;
    gap: 10px;
}

.grid-container div {
    background-color: aqua;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-container button {
    background-color: #00909a;
    border: 3px solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-container button:hover {
    background-color: #f9ff00;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-content: center;
}